.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

.cart-item:last-child {
  border-bottom: none;
}
.qty-box input {
    margin: 0 5px;
    color: #fff;
}

.cart-item input {
  background-color: var(--orange);
  cursor: pointer;
}

.cart-item i {
  color: var(--orange);
}

.cart img {
  width: 50px;
}
